[Unit]
Description=Co2 Exporter

[Service]
User=prometheus
Group=prometheus
Restart=on-failure
ExecStart=/usr/local/bin/co2_exporter \
        --web.listen-address=:9101 \
        --log.level=warn

[Install]
WantedBy=default.target
